/**
 * @colordef #FFCC00 yellow
 * @colordef #7F0033 red
 * @colordef #1C2933 dark
 * @colordef #7F9933 green
 * #C3D96C green light
 */
/** @node resets */
body { 
  background-color: #EEE;
  color: #1C2933;
  font-family: sans-serif,arial,helvetica; 
  font-size: 1em;
}
strong{ font-weight:bold; }
ul { padding:0 }
li { 
  list-style: none;
  padding-bottom: 0.4em;
}
small{ padding-left: 2em }

rect { stroke: #1C2933; }

rect.box {
  stroke: #1C2933;
  fill: #C3D96C;
  stroke-width: 1;
  opacity: .9;
  padding: 0 10px;
  margin: 60px 120px;
}
rect.active, 
rect.bar { fill: #1C2933; }
rect.bar { cursor: move; 
  height: 10px;
}
/**
 * Styles for the case is JavaScript enabled.
 */
.js #texts li { 
  color: #000;
  display: block;
  position: absolute;
  font-family: Arial, Verdana, Sans;
  font-size: 13px;
  padding: 5px 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.js #texts a { color: #7F0033; }
.js #texts a:hover { text-decoration: none; }
.js #texts .active { color: #CCC; }
.js #texts .active a { color: #C3D96C; }
.js #texts .active a:visited { color: #7F9933; }

.js #texts p { font-size: 11px; }
.js #texts .active p a{ color: #FC0; }
.js #texts .active p a:visited { color: #FF0; }